antiorm==1.2.1
asgiref==3.7.2
cmake==3.27.5
db==0.1.1
db-sqlite3==0.0.1
Django==4.2.5
numpy==1.26.0
psycopg==3.1.11
psycopg2-binary==2.9.7
pydub==0.25.1
scipy==1.11.2
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
